!!!
%h3 Frequently Asked Questions
%ul
  %h5 How the safety of participant is ensured?
  %p{:align => "justify"}
    %strong> Exura.in
    , associates and employees the staff and entities which have built the credibility in the adventure sports arena. As well as the trainers are well trained and they operate the sport with best in-class equipments. Safety of the enthusiasts participating in the activity is the prime importance.
  %h5 Can we have group booking on need basis?
  %p{:align => "justify"}
    Yes, If your required sport and place is not listed in our website you can always contact us:
    %span{:style => "color:green;font-weight:bold"} +91-9845524873
    during 9 am to 6 pm IST from Monday to Saturday to get your exact need.
    %h5 I am adventure sports operator how can I associate with Exura.in?
    %p{:align => "justify"}
      You can drop us e-mail on
      %a.support{:href => "mailto:reachus@exura.in"}
        %span{:style => "color:blue;font-weight:bold"} reachus@exura.in
      with the existing detail of yours or call us:
      %span{:style => "color:green;font-weight:bold"} +91-9845524873
      during 9 am to 6 pm IST from Monday to Saturday. Our expert panel will get in touch with you and get the needed information which meets our set of criteria to on board.
    %h5 What are the different ways to get the content from Exura.in?
    %p{:align => "justify"}
      Coming soon… Exura.in team is well experienced in the e-commerce travel domain and comes with lot of passion and knowledge of adventure sports. So, there are few plans where we can provide the inventory in easily accessible manner by others. For more info till it is published you can contact us:
      %span{:style => "color:green;font-weight:bold"} +91-9845524873
      e-mail at
      %a.support{:href => "mailto:reachus@exura.in"}
        %span{:style => "color:blue;font-weight:bold"} reachus@exura.in
    %h5 How can I know whether the activity is good for me to participate or not?
    %p{:align => "justify"} Every activity which Exura.in publishes classified them on various grades. These grades will provide you the details based on general classification so, as you can know whether you are fit to participate in such activity or not?
    %h5 Does Exura.in conducts and design the program for corporate experiential learning or program for children?
    %p{:align => "justify"}
      Yes, Any corporate experiential learning and program for children is based on the specific needs and we encourage you to contact us:
      %span{:style => "color:green;font-weight:bold"} +91-9845524873
      to provide the detail or drop email on
      %a.support{:href => "mailto:support@exura.in"}
        %span{:style => "color:blue;font-weight:bold"} support@exura.in
      with the following details:
      Company/Institution Name :
      Your name *:
      Contact # *:
      E-mail id *:
      Specific Details:
    %h5 How safe are Adventure activities?
    %p{:align => "justify"}
      One of the meanings of the word Adventure is ‘To take a risk; dare’ so, every adventure activity (Water, Land or Air) may involve some kind of exciting or unusual experiences. We intend to mitigate these challenges by providing you as much as information so, that you gear up for the safe but thrilling experiences. Hence, we involve well informed trekkers about the place as guides, they are well equipped as well as for certain sports they are certified.
      %p It is also the duty of the persons involved in the sports to listen to the instruction or guidelines prescribed by the trainer/guide before participation into any activity.
      %strong "Man cannot discover new oceans unless he has the courage to lose sight of the shore.” --Andre Gide
